body {
    background: #2b303a;
    background: linear-gradient(90deg, #2b303a 0%, #3f4756 100%);

}

* {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    appearance: none;
    // border: 1px solid red;

}