@import './variables';
@import './general';
@import './devices';
@import './placeholder';
@import './condimentum';
@import './compensation';

.card {
    width: 1280px;
    height: 1050px;
    margin: auto;

    @include sm {
        width: 100%;

    }

    @include md {
        width: 100%;
    }

    @include xl {
        width: 1280px;
        height: 1050px;
        margin: auto;

    }

}

.center {
    @include sm {
        text-align: center;
        align-items: center;
    }

    @include md {
        text-align: center;
        align-items: center;
    }
}