$textcolor: #111317;
$font-family: 'SORA', sans-serif;

body {
    background: #2b303a;
    background: linear-gradient(90deg, #2b303a 0%, #3f4756 100%);
}

* {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    appearance: none;

    ::-webkit-input-placeholder {
        text-align: right;
    }
}

::placeholder {
    color: black;
    opacity: 1;
    font-weight: 700;
}

.input:placeholder-shown+.placeholder {
    /* if real placeholder is shown - hide fake placeholder */
    opacity: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

}


.compensation-card {
    background: white;
    float: right;
    width: 320px;
    height: 755px;
    clip-path: polygon(5% 0, 95% 0, 100% 2%, 100% 98%, 95% 100%, 5% 100%, 0 98%, 0 2%);
    margin: 100px 100px 0 0;

    h1 {
        color: $textcolor;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -0.02em;
        margin: 80px 20px 0 20px;
    }

    form {
        margin: 0 40px 0 20px;

        .table {
            margin-top: 20px;
        }

        label {
            color: $textcolor;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.02em;

        }

        button {
            width: 169px;
            height: 60px;
            border-radius: 30px;
            background-image: linear-gradient(to right, #911812 0%, #E1261C 100%);
            border: 0px;
            color: white;
            font-weight: 700;
            font-size: 18px;
            margin-top: 20px;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
        }

        button:hover {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15), inset 0px -4px 0px rgba(0, 0, 0, 0.25);
            transition: 0.5s;
        }


        input[type=number] {
            width: 100%;
            height: 30px;
            margin: 5px 0 0 0;
            border: double 2px transparent;
            border-radius: 4px;
            background-image: linear-gradient(white, white),
                linear-gradient(to right, #d4dae8, #A7B7D8);
            background-origin: border-box;
            background-clip: padding-box, border-box;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            padding: 10px;
            font-weight: 400;
            font-size: 18px;
        }

        input[type=number]:focus {
            outline: none;
            background-image: linear-gradient(white, white),
                linear-gradient(to right, #A7B7D8, #d4dae8);
            transition: 1s;
        }

        .custom-checkbox {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        .custom-checkbox+label {
            display: inline-flex;
            align-items: center;
            user-select: none;
        }

        .custom-checkbox+label::before {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            flex-shrink: 0;
            flex-grow: 0;
            background-color: #ffffff00;
            border: 2px solid #D3DAE8;
            border-radius: 20%;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 80% 80%;
            box-shadow: #63636333 0px 2px 8px 0px;
        }

        .custom-checkbox:checked+label::before {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }

    }

    hr {
        margin: 20px 0 20px 0;
        border: 1px solid #E9EDF4;
        border-bottom: 0px;
    }

    .lower-part {
        margin: 0 20px 0 20px;
        text-align: center;

        .employer-part {
            width: 50%;
            float: left;

        }

        .insurance-part {
            width: 50%;
            float: right;
        }

        .day-count {
            font-weight: 700;
        }


        .money-count {
            font-weight: 700;
            font-size: 18px;
        }

        .days {
            margin-bottom: 10px;
        }
    }

    .daily-allowence {
        color: #7a818e;
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 20px 0;
    }

    .total-compensation {
        font-weight: 400;
        font-size: 14px;
        text-align: center;

        .total {
            font-weight: 700;
            font-size: 24px;
            margin-top: 5px;
        }
    }
}